.Navigation .btn {
    font-size: 12px;
    width: 95px;
}

.Navigation .row,
.Navigation .navbar,
.Navigation .navbar-nav {
    width: 85%;
    display: flex;
    justify-content: center;
}

.Navigation .col {
    display: flex;
    justify-content: center;
}

.Navigation {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}