.GradesTable .activeStudent {
    background-color: rgb(154, 173, 255);
    box-shadow: 0 0 10px rgb(154, 173, 255);
    transition: background-color 100ms linear;
}

.GradesTable .grades,
.GradesTable .proposed-grade,
.GradesTable .final-grade {
    display: flex;
    flex-wrap: wrap;
}

.GradesTable .proposed-grade,
.GradesTable .final-grade,
.GradesTable .average {
    display: flex;
    justify-content: center;
    align-items: center;
}

.GradesTable .Sprawdzian,
.GradesTable .Kartkówka,
.GradesTable .Aktywność,
.GradesTable .Propozycja,
.GradesTable .Końcowa {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid grey;
    margin: 4px;
}

.GradesTable .Sprawdzian {
    background-color: red;
}

.GradesTable .Kartkówka {
    background-color: green;
}

.GradesTable .Aktywność {
    background-color: orange;
}

.GradesTable .Propozycja {
    background-color: rgb(131, 177, 236);
}

.GradesTable .Końcowa {
    background-color: rgb(106, 110, 143);
}

.GradesTable .activeGrade {
    border: 3px solid rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    transition: border 50ms ease-in-out;
}

.GradesTable .row {
    min-height: 50px;
}

.GradesTable {
    height: 58vh;
    overflow-y: scroll;
}

.GradesTable .row:first-child {
    background: white;
    position: sticky;
    top: 0;
}